.jumbotron {
    background-image: url("../images/train.jpg");
}
.head1 {
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    font-size: 380%;
    
}
.head2 {
    color: rgba(245, 245, 245, 0.808);
    font-family: 'Satisfy', cursive;
}